.CloudsBackground {
  position: relative;

  z-index: 1;
}

.CloudOne {
  position: absolute;
  top: 46%;
  left: 8%;
  filter: blur(0.1);
}

.CloudTwo {
  position: absolute;
  top: 48%;
  left: 14%;
  filter: blur(0.1);
}

.CloudThree {
  position: absolute;
  top: 58%;
  left: 64%;
}

.CloudFour {
  position: absolute;
  top: 70%;
  left: 70%;
}

.CloudFive {
  position: absolute;
  top: 15%;
  left: 70%;
}