.board {
  display: flex;
  flex-direction: column;
}

.cardContent {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.cardIsOpen .cardContent {
  transform: rotateY(.5turn);
}

.visibility {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin: 0;
  border: none;
  background-color: #e0dffe;
  border: solid 4px #f9b0c3;
  box-shadow: 3px 4px 16px 0px rgba(0, 0, 0, 0.4);

  transform: rotateY(-180deg);
}

.card__middle {
  width: 80px;
  height: 80px;
}

.card__hard {
  width: 80px;
  height: 80px;
}

.flexBlock {
  display: flex;
  gap: 50px;
  z-index: 2;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

img.imgCard {
  width: 100%;
  height: 100%;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  cursor: pointer;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 3px 4px 16px 0px rgba(0, 0, 0, 0.4),
    6px 7px 32px 0px rgba(119, 102, 198, 0.79) inset;
  /* position: relative; */

  transform: rotateY(0deg);
}

.back__middle {
  width: 80px;
  height: 80px;
}

.back__hard {
  width: 80px;
  height: 80px;
}

.boardGrid {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  grid-gap: 20px;
  background-color: #46467a;
  padding: 20px;
}

.boardGrid__middle {
  grid-template-columns: repeat(5, 80px);
  grid-template-rows: repeat(5, 80px);
  grid-gap: 14px;
  padding: 14px;
}

.boardGrid__hard {
  grid-template-columns: repeat(6, 80px);
  grid-template-rows: repeat(6, 80px);
  grid-gap: 14px;
  padding: 14px;
}

.moveCounter {
  display: flex;
  border-radius: 12px;
  background: #2f2f61;
  width: 200px;
  height: 88px;
  justify-content: center;
  align-items: center;
  font-family: Comfortaa;
}

.move {
  display: flex;
  border-radius: 12px;
  background: #ffc212;
  width: 200px;
  height: 88px;
  justify-content: center;
  justify-content: center;
  align-items: center;
  font-family: Comfortaa;
}

@media screen and (max-width: 767px) {
  .flexBlock {
    flex-direction: column;
  }
}
