@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@800&display=swap');

.title {
  position: relative;
  color: #fff;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 86px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 0;
  z-index: 3;
}

@media screen and (max-width: 1280px) {
  .title {
    font-size: 68px;
  }
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 68px;
  }
}

@media screen and (max-width: 834px) {
  .title {
    font-size: 48px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 34px;
  }
}

@media screen and (max-width: 430px) {
  .title {
    font-size: 30px;
  }
}